* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lexend Deca', sans-serif;
}

body {
	height: 100vh;
	background: skyblue;
}

.header-container {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.container {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	height: 10%;
}

.button-container {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.message-container {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 15px;
}

.displays {
	margin-bottom: 10px;
	margin-left: 50px;
	margin-right: 50px;
}

.header-title {
	font-size: 3rem;
}

.game-buttons {
	background-color: #4CAF50; /* Green */
	border: none;
  	border-radius: 5px;
  	color: white;
  	padding: 8px 32px;
  	margin: 25px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 1.5em;
}

.game-buttons:hover {
	opacity: 0.8;
}

.disabled {
  opacity: 0.6;
  background: #808080;
}

.memory-game {
	border: 2px solid black;
	background: #f0f0f0;
	width: 640px;
	height: 640px;
	display: flex;
	margin: auto;
	flex-wrap: wrap;
	perspective: 1000px;
}

.memory-card {
	font-size: 80px;
	text-align: center;
	background: #ffffff;
	border: 5px solid black;
	width: calc(25% - 10px);
	height: calc(33.333% - 10px);
	margin: 5px;
	position: relative;
	transform: scale(1);
	transform-style: preserve-3d;
	transition: transform .5s;
}

.memory-card:active {
	transform: scale(.97);
	transition: transform .2s;
}

.memory-card.flip {
	transform: rotateY(180deg);
}

.front-face, .back-face{
	width: 100%;
	height: 100%
	padding: 20px;
	margin-top: 45px;
	position: absolute;
	backface-visibility: hidden;
	transform: rotateX(0deg);
	/* 
		All html elements have a "backface"
		We set backface-visibility to hidden so that when .front-face/back-face is flipped, we won't see their backfaces
		
		backface-visibilty does not work in firefox
	 	transform: rotateX(0deg) is added to make it hidden for firefox
	*/
}

.front-face {
	transform: rotateY(180deg);
}

/*icons*/
.fa-heart{
	color: red;
}

.fa-ghost{
	color: blue;
}

.fa-xbox{
	color: green;
}

.fa-atom{
	color: hotpink;
}

.fa-twitch{
	color: purple;
}

.fa-beer{
	color: orange;
}